:root {
  --hero-background-color: #ecf9ff;
  --primary-font-color: #060640;
  --secondary-font-color: #00e5cc;
  --paragraph-color: #9090a7;
  --soft-blue: #ecfdff;
  --footer-background: #000020;
  --white: #fff;
}

@font-face {
  font-family: "Airbnb Cereal App";
  src: url(./airbnb-cereal-font/AirbnbCereal_W_Bk.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Airbnb Cereal App";
}

/** Style rule for Header section **/

.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3rem 5%;
  background: rgba(236, 249, 255, 0.5);
  backdrop-filter: blur(50px);
}

.navbar a {
  text-decoration: none;
}

.logo a {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-font-color);
}

.logo::first-letter {
  color: var(--secondary-font-color);
}

.nav__menu {
  display: inline-flex;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
}
.nav__menu a {
  color: var(--paragraph-color);
}

.nav__menu .active {
  color: var(--secondary-font-color);
}

.user__sec .signin {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
}

.trial__btn {
  background: var(--primary-font-color);
  color: var(--white);
  display: inline-flex;
  height: 55px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  margin-left: 1rem;
}

.trial__btn:hover{
  opacity: .8;
}

.icons {
  font-size: 2.5rem;
  color: var(--primary-font-color);
  padding-top: 6px;
  display: none;
}

#check {
  display: none;
}

/** Style rule for hero section **/

.hero {
  padding: 10rem 5%;
  display: flex;
  background: var(--hero-background-color);
}

.hero h1{
  color: var(--primary-font-color);
  font-size: 3rem;
  font-weight: 700;
}

.hero__texts p{
  color: var(--paragraph-color);
  margin-top: 1rem;
}

.hero__button{
  display: flex;
  align-items: center;
}

.review__image{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn{
  text-decoration: none;
  background: var(--primary-font-color);
  color: var(--white);
  display: inline-flex;
  height: 55px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}

.hero__img {
  width: 100%;
}

/** Style rule for work section **/

.work{
  padding: 5rem 5%;
}

.work h1{
  color: var(--primary-font-color);
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
}

.work > p{
  color: var(--paragraph-color);
  text-align: center;
  margin-top: 1rem;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2.5rem;
}

.cards .card{
  max-width: 370px;
  border-radius: 14px;
  border: 2px solid rgba(6, 6, 64, 0.04);
  padding: 2rem;
}

.card:hover{
  box-shadow: 0px 20px 60px 0px #030325;
  cursor: pointer;
}

.cards .card h2{
  color: var(--primary-font-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  margin: 2rem 0 1rem;
}

.cards .card p{
  color: var(--paragraph-color);
  line-height: 28px;
}


/** Style rule for About section **/

#about{
  display: flex;
  align-items: center;
  padding: 2rem 5%;
}

#about h1{
  color: var(--primary-font-color);
  font-size: 2.8rem;
}

.about__texts > p{
  color: var(--paragraph-color);
  font-weight: 400;
  margin: 1rem 0;
}

.service{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1.5rem 0;
}

.service h2{
  color: var(--primary-font-color);
  font-size: 1.25rem;
  font-weight: 500;
  font-style: normal;
}

.service p , .newsletter p{
  color: var(--paragraph-color);
  margin: 1rem 0;
}

.about__img{
  width: 100%;
}

/** Style rule for services section **/

#services{
  background: #ecf9ff;
  padding: 2rem 5%;
}

#services h1 , .newsletter h1{
  color: var(--primary-font-color);
  font-size: 2.8rem;
  font-weight: 700;
}

.packages{
  margin: 2rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.package{
  max-width: 370px;
  border-radius: 14px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, .20);
  padding: 1rem;
  position: relative;
}

.package > img{
  width: 100%;
}

.package:hover{
  background: #fff;
  cursor: pointer;
  transition: .5s ease;
}


.package h3{
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
}

.users img{
  border-radius: 50%;
}

.users p{
  position: absolute;
  left: 113px;
  color: var(--paragraph-color);
}

.users{
  display: flex;
  align-items: center;
}

.dollar{
  font-weight: 500;
  color: var(--secondary-font-color);
}

.snd__img{
  position: absolute;
  left: 44px;
}
.trd__img{
  position: absolute;
  left: 70px;
}

.price__and__users{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

#global__communication img{
  width: 100%;
}

.newsletter{
  background: #ecfdff;
  margin: 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 16px;
  position: relative;
}

.newsletter img{
  max-width: 353px;
  position: absolute;
  right: 23px;
  bottom: 3px;
}

.newsletter__texts input{
  background: #ffffff;
  border-radius: 6px;
  border: none;
  padding: 1.5rem;
  width: 80%;
}


.newsletter__texts a{
  position: absolute;
  left: 400px;
  bottom: 30px;
}









/** BREAKPOINTS **/

@media (max-width: 428px) {
  .logo{
    position: absolute;
    left: 117px;
  }

  .trial__btn {
    height: 45px;
    padding: 0px 15px;
  }
  .hero {
    flex-direction: column;
    gap: 2rem;
  }

  .cards{
    display: inline;
  }
  .card{
    margin-top: 1.5rem;
  }
  #about{
    display: inline;
  }
  .about__texts{
    padding: 1rem 5%;
  }

  .packages{
    display: inline;
  }

  .package{
    margin-top: 1.5rem;
  }

  .newsletter img{
    display: none;
  }
  
}


@media screen and (max-width: 768px) {
  .navbar .logo {
    position: absolute;
    right: 394px;
  }

  .navbar .user__sec {
    position: absolute;
    right: 5%;
  }

  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .nav__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    height: 0;
    overflow: hidden;
    background: rgb(236, 249, 255);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-evenly;
    text-align: center;
    transition: 0.5s ease;
  }

  #check:checked ~ .nav__menu {
    height: 17.7rem;
  }

  .hero__img {
    width: 70%;
  }
  #about{
    display: inline;
  }
  .about__texts{
    padding: 1rem 5%;
  }

  .packages{
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter__texts {
    max-width: 340px;
  }

  .newsletter img{
    max-width: 340px;
    position: absolute;
    right: 0;
    bottom: 3px;
  }

  .newsletter__texts a{
    position: static;
    margin: 1rem 0;
  }
  
}

